#box {
    height: 600px;
    width: 800px;
    border: 2px solid black;
    position: relative;
    background-image: url("http://i296.photobucket.com/albums/mm181/vonaf/stars-background-b-1.gif")
}

#box #head {   
    background-image: url("http://softnauts.com/img/rocket.png");
    background-size: auto 100%;    
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}

#box .snakeItem {
    width: 40px;
    height: 40px;
    //background-color: orange;
    position: absolute;
    //border-radius: 50%;
    background-image: url('ball.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#food {
    height: 40px;
    width: 40px;
    position: absolute;
    background-image: url("http://www.gifs.com.es/Espacio/image/595/Espacio+%28134%29.gif");
    background-size: auto 100%;
    background-color: transparent;
}

#score {
    height: 60px;
    width: 80px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: grey;
    text-align: center;
    position: absolute;
    left: 830px;
    top: 20px;


}
#soft    {
    text-align: center;
    font-size: 50px;
    position: absolute;
    left: 830px;
    top: 40px;
    color: purple;

}

#guide {
    font-size:16px;
    position: absolute;
    left: 900px;
    top:  200px;
    color: blue;
    list-style:none;
    text-align:center
}

